.card-user{
    
    background-image: url('/public/capa.jpg');
    height: 56.25px;
    width: 100%;
    border-radius: 10px 10px 0 0;
   
}
.container-card-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #dfdfdf;
}
.card{
   display: flex;
   flex-direction: column;
   gap: 5px;
    padding: 5px;
}
.container-card-user a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.container-card-user img{
    margin: -38px auto 1.2rem;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff;
    background-color: #b3b3c9;
}

p{
    text-align: center;
    font-size: 12px;
    color: #838080;
}