aside{
    margin:40px 0 0 100px;
    width: 225px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
aside div{
    display: flex;
    justify-content: center;
    background-color: #b3b3c9;
    height: 15%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
aside img{
  margin: 20px 0;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 1px solid #ffffff;
    background-color: #b3b3c9;
}